* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "MedievalSharp", cursive;
background: rgba(147, 95, 10, 0.668);
}

.startScreen {
  background-image: url("./images/imagedefond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  h1 {
    padding-top: 3%;
    text-align: center;
    color: black;
    font-family: "MedievalSharp", cursive;
    font-size: 3rem;
  }

  .startScreen__buttons {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }
  .startButton,
  .tutorialButton {
    width: 15%;
    background-color: #8b4513;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 12px;
    font-family: "MedievalSharp", cursive;
    box-shadow: 3px 3px 5px rgba(235, 22, 22, 0.3);
  }
}
.modalBlackScreen {
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000000, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  // z-index:-1;
}
.modal {
  background-color: bisque;
  display: flex;
  width: 50%;
  height: 30%;
  padding: 3rem;
}

.selectCharacters {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: none;
  margin-top: 3%;
}
  // padding-top: 3%;
  // padding-bottom: 3%;}

.charactersPlayer1Player2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.charactersPlayer1 {
    // height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
}
img {
      width: 13rem;
      height: 75%;
    }
   
    
.charactersPlayer2 {
    // height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
  }
.player1Choice, .player2Choice {
  width:100%;
display: flex;
flex-direction: row;
gap:4px;
}

// .players {
//   height: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }



//   .player1player2 {
//     margin-top: 10%;
//     height: 50%;
//     width: auto;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     gap: 10%;

//     input {
//       height: auto;
//       font-size: 1.5rem;
//       background-color: #8b4513;
//       color: white;
//       width: 60%;
//     }
//     label {
//       margin-right: 1rem;
//       height: auto;
//       width: 30%;
//       font-size: 1.5rem;
    
//     }
.pseudo1, .pseudo2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }


    
//   }
//   .buttonCharacter {
//     display: block;
//     width: 100%;
//     height: 15%;
//     text-align: center;
//   }

  // input, label{
  //   height:50px;
  // }
  // form>label,
  // form>input {
  //   height: 700px;
  //   // width: 100%;
  //   // font-size: 3rem;

  // }
.startTheGameButton{
    display: inline-block;
    width: 60%;
    background-color: #8b4513;
    border: none;
    color: white;
    width: 20%;
    padding: 10px;
    margin: 10% auto;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 12px;
    font-family: "MedievalSharp", cursive;
    box-shadow: 3px 3px 5px rgba(235, 22, 22, 0.3);
  }


.gameScreen {
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
 align-items: center;
 gap: 10%;
 

}
.battlePlayer1Player2{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  

 
 
}
.battlePlayer1{
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;

 

}

.battlePlayer2{
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;


}


#endBattle{
  display: none;
}




/* Style pour le modal */
.End {
display: none; /* Par défaut, le modal est caché */
position: fixed; /* Positionnement fixe pour couvrir toute la fenêtre */
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);

}

/* Style pour le contenu du modal */
.End-content {
background-color: #fefefe;
margin: 20% auto; /* Centrer le modal verticalement et horizontalement */
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 600px; /* Largeur maximale du modal */
font-size: 22px;
font-family: "Pacifico", cursive;
font-weight: 400;
font-style: normal;
}


/* Style pour le modal */
.modal {
  display: none; /* Par défaut, le modal est caché */
  position: fixed; /* Positionnement fixe pour couvrir toute la fenêtre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
 
}

/* Style pour le contenu du modal */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* Centrer le modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; /* Largeur maximale du modal */
  font-size: 22px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
