body {
  background-color: #fff;
}

.item {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 100px;
  width: 150px;
  height: 150px;
  margin:10px;
  flex-basis: 150px;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

 
}
