.required::after{
    content: "*";
    color:red;
    font-size: 1rem;

}
.required::before{
    content:"- ";
    color:brown;
}

.quote{
    font-style: italic;
    color: #333;
}

.quote::before{
    content: "\201C";
}

.quote::after{
    content: "\201D";
}

