.grid-container{
    display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 200px 500px 1fr;
/* column-gap: 20px;
row-gap: 20px; */
gap: 10px 30px;
justify-items: start;

    /* grid-template-columns: 25% auto 200px;
    grid-template-rows: 200px 150px 150px; */
/* 
    grid-template-columns: 1fr 2fr 3fr 1fr; */
    /* grid-template-columns: repeat(8,1fr); */
}

div{
    border:1px dotted black;
}