* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  background-color: black;
}
.wrap {
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  display: grid;
  grid-template: "a b c d" 100px "e e e e" 100px "f g h i" 100px / 100px 100px 100px 100px;
  gap: 10px;
}
.wrap :nth-child(1) {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(2) {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(3) {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(4) {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(5) {
  grid-area: e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(6) {
  grid-area: f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(7) {
  grid-area: g;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(8) {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(9) {
  grid-area: i;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap :nth-child(1),
.wrap :nth-child(6) {
  background-color: #8eed8e;
}
.wrap :nth-child(2),
.wrap :nth-child(7) {
  background-color: #0726a1;
}
.wrap :nth-child(3),
.wrap :nth-child(8) {
  background-color: #89207d;
}
.wrap :nth-child(4),
.wrap :nth-child(9) {
  background-color: #dd8564;
}
.wrap :nth-child(5) {
  background-color: #e54949;
  grid-area: e;
}
