* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
}

.wrap {
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  display: grid;
  grid-template:
    "a b c d" 100px
    "e e e e" 100px
    "f g h i" 100px / 100px 100px 100px 100px;

  gap: 10px;
  //   div {
  //     width: 100%;
  //     height: 100%;
  // align-items: center;
  // justify-items: center;
  //   }

  :nth-child(1) {
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(2) {
    grid-area: b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(3) {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(4) {
    grid-area: d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(5) {
    grid-area: e;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :nth-child(6) {
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(7) {
    grid-area: g;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :nth-child(8) {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :nth-child(9) {
    grid-area: i;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  :nth-child(1),
  :nth-child(6) {
    background-color: rgb(142, 237, 142);
  }

  :nth-child(2),
  :nth-child(7) {
    background-color: rgb(7, 38, 161);
  }

  :nth-child(3),
  :nth-child(8) {
    background-color: rgb(137, 32, 125);
  }

  :nth-child(4),
  :nth-child(9) {
    background-color: rgb(221, 133, 100);
  }

  :nth-child(5) {
    background-color: rgb(229, 73, 73);
    grid-area: e;
  }
}
